<div class="tab-pane fade show active" id="projects" role="tabpanel">
  <div class="row mb-3">
    <div class="col-6">
      <h2>Tasks</h2>
    </div>
    <div class="col-6 text-end">
      <button routerLink="/task-assign/0" class="btn btn-success rounded-pill">New Task</button>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover rounded-3 overflow-hidden">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Task Name</th>
          <th>Description</th>
          <th>Priority</th>
          <th>Due Date</th>
          <th>Comment</th>
          <th>Image URL</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Task Example</td>
          <td>Lorem ipsum dolor sit amet.</td>
          <td>High</td>
          <td>2024-11-30</td>
          <td>No comments</td>
          <td>http://example.com/image.png</td>
          <td>
            <button type="button" class="btn btn-primary btn-sm rounded-pill">Edit</button>
            <button type="button" class="btn btn-danger btn-sm rounded-pill mx-2">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
