<div class="tab-pane fade show active" id="projects" role="tabpanel">
  <div class="row mb-3">
    <div class="col-6">
      <h2>Tasks</h2>
    </div>
    <div class="col-6 text-end">
      <button routerLink="/task-assign/0" class="btn btn-success rounded-pill">New Task</button>
    </div>
  </div>
  <div class="table-responsive" *ngIf="!showForm">
    <table class="table table-bordered table-striped table-hover rounded-3 overflow-hidden">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Task Name</th>
          <th>Description</th>
          <th>Priority</th>
          <th>Due Date</th>
          <th>Comment</th>
          <th>Image URL</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="loading">
          <td colspan="7" class="text-center">
            <div class="spinner-grow text-muted"></div>
            <div class="spinner-grow text-primary"></div>
            <div class="spinner-grow text-success"></div>
            <div class="spinner-grow text-info"></div>
            <div class="spinner-grow text-warning"></div>
            <div class="spinner-grow text-danger"></div>
          </td>
        </tr>
        <tr *ngFor="let task of tasks">
          <td>{{ task.id }}</td>
          <td>{{ task.title }}</td>
          <td>{{ task.description }}</td>
          <td>{{ task.priority }}</td>
          <td>{{ task.due_date}}</td>
          <td>{{ task.comments.length }}</td>
          <td>{{ task.images.length }}</td>
          <td>
            <button type="button" class="btn btn-primary btn-sm rounded-pill">Edit</button>
            <button type="button" class="btn btn-danger btn-sm rounded-pill mx-2">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
