<div class="container mt-4">
  <!-- Barra de Progreso -->
  <div class="card shadow-sm rounded-3 mb-4 bg-white">
    <div class="card-body">
      <h5 class="fw-bold mb-3">Progreso de Tareas</h5>
      <div class="progress" style="height: 20px">
        <div
          class="progress-bar bg-success rounded-pill"
          role="progressbar"
          [style.width.%]="calculateProgress()"
          [attr.aria-valuenow]="calculateProgress()"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          {{ calculateProgress() }}%
        </div>
      </div>

    </div>
  </div>

  <!-- Tabla de Tareas -->
  <div class="card shadow-sm rounded-3 bg-white">
    <div class="card-header bg-dark text-white">
      <h5 class="mb-0">Mis Tareas Asignadas</h5>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="table-light">
            <tr>
              <th>Título</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of userTasks; let i = index">
              <td>{{ task.task_title }}</td>
              <td>
                <span class="badge bg-success rounded-pill">
                  {{ task.status }}
                </span>
              </td>
              <td>
                <button
                  *ngIf="task.status !== 'completed'"
                  class="btn btn-info btn-sm rounded-pill"
                  (click)="redirectTo(task.id)"
                >
                  Ver / Editar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
