<div class="">
  <header class="navbar navbar-expand-lg navbar-light bg-light py-3 mb-4 border-bottom">
    <div class="container-fluid">

      <a href="/" class="navbar-brand d-flex align-items-center">
        <svg class="bi" width="40" height="32" role="img" aria-label="Logo"><use xlink:href="#bootstrap"></use></svg>
        <span class="ms-2">Cross Task Manager</span>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="/dashboard" class="nav-link active px-3">Dashboard</a>
          </li>
          <li class="nav-item">
            <a routerLink="/employees" class="nav-link px-3">Employees</a>
          </li>
          <li class="nav-item">
            <a routerLink="/task" class="nav-link px-3">Task</a>
          </li>
          <li class="nav-item">
            <a routerLink="/task-assign" class="nav-link px-3">Task Assign</a>
          </li>
        </ul>
      </div>

      <div class="d-flex">
        <button type="button" class="btn btn-outline-primary" (click)="authService.logout()">LogOut</button>
      </div>
    </div>
  </header>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
