<div class="">
  <header class="navbar navbar-expand-lg navbar-light bg-dark py-2 mb-4 border-bottom">
    <div class="container-fluid d-flex justify-content-between align-items-center">

      <a href="/" class="navbar-brand d-flex align-items-center">
        <img src="logoBanner.png" alt="Cross Task Manager Logo" width="140" height="50" class="me-2" />
      </a>

      <nav class="d-flex flex-wrap align-items-center">
        <ul class="navbar-nav d-flex flex-row">
          <li class="nav-item">
            <a routerLink="/dashboard" class="nav-link text-white px-2">Dashboard</a>
          </li>
          <li class="nav-item">
            <a routerLink="/employees" class="nav-link text-white px-2">Empleados</a>
          </li>
          <li class="nav-item">
            <a routerLink="/task" class="nav-link text-white px-2">Tareas</a>
          </li>
          <li class="nav-item">
            <a routerLink="/task-assign" class="nav-link text-white px-2">Asignación</a>
          </li>
        </ul>
      </nav>

      <div class="ms-2">
        <button type="button" class="btn btn-outline-light" (click)="authService.logout()">LogOut</button>
      </div>
    </div>
  </header>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
