<div class="tab-pane fade show active" id="adviser" role="tabpanel">
  <div class="row">
    <div class="col-6">
      <h2>Employees</h2>
    </div>
    <div class="col-6 text-end">
      <button class="btn btn-success">Add New</button>
    </div>
  </div>

  <!-- Employee Form -->

  <form class="mb-4">
    <div class="row">
      <div class="col-md-6">
        <label for="employeeName" class="form-label">Employee Name</label>
        <input type="text" class="form-control" name="employeeName" />
      </div>
      <div class="col-md-4">
        <label for="emailId" class="form-label">Email</label>
        <input type="email" class="form-control" name="emailId" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label for="Password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" />
      </div>
      <div class="col-md-4">
        <label for="role" class="form-label">Role</label>
        <select class="form-select" aria-label="Default select example">
          <option selected>--Select Role Of the Employee</option>
          <option value="1">ceo</option>
          <option value="2">admin</option>
          <option value="3">adviser</option>
        </select>
      </div>
    </div>
    <button type="button" class="btn btn-primary mt-3">
      <span class="spinner-grow spinner-grow-sm"></span>Save Adviser
    </button>
    <button type="button" class="btn btn-warning mt-3">Update Adviser</button>
    <button class="btn btn-success mt-3 mx-2">Close</button>
  </form>

  <!-- Employee Table -->
  <section *ngIf="!showForm">
    <table class="table table-striped table-hover table-bordered rounded">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Employee Name</th>
          <th>Email</th>
          <th>Password</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- Carga mientras los datos se obtienen -->
        <tr *ngIf="loading">
          <td colspan="7" class="text-center">
            <div class="spinner-grow text-muted"></div>
            <div class="spinner-grow text-primary"></div>
            <div class="spinner-grow text-success"></div>
            <div class="spinner-grow text-info"></div>
            <div class="spinner-grow text-warning"></div>
            <div class="spinner-grow text-danger"></div>
            <div class="spinner-grow text-secondary"></div>
            <div class="spinner-grow text-dark"></div>
            <div class="spinner-grow text-light"></div>
          </td>
        </tr>

        <!-- Los datos de los usuarios -->
        <tr *ngFor="let user of employees">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.password }}</td>
          <td>{{ user.role.name }}</td>
          <td class="text-center">
            <div class="btn-group" role="group" aria-label="User actions">
              <button type="button" class="btn btn-primary">Edit</button>
              <button type="button" class="btn btn-danger mx-2">Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

