<div class="tab-pane fade show active" id="adviser" role="tabpanel">
  <!-- Header Section -->
  <div class="row mb-3">
    <div class="col-6">
      <h2>Employees</h2>
    </div>
    <div class="col-6 text-end">
      <!-- Add Employee Button -->
      <button
        class="btn btn-success shadow-sm rounded-pill"
        (click)="initEmployees()"
      >
        <i class="bi bi-person-plus-fill me-2"></i>Add Employee
      </button>
    </div>
  </div>

  <!-- Employee Form Section (Displayed when showForm is true) -->
  <section class="mb-4 p-4 shadow rounded border bg-light" *ngIf="showForm">
    <form [formGroup]="myForm" (ngSubmit)="formSubmitEmployee(myForm)">
      <h4 class="text-center mb-4 fw-bold">Employee Details</h4>

      <!-- Employee Name and Email Fields -->
      <div class="row g-3 mb-3">
        <div class="col-md-6">
          <label for="employeeName" class="form-label fw-semibold">Employee Name</label>
          <input
            formControlName="name"
            type="text"
            class="form-control"
            name="employeeName"
            placeholder="Enter employee's name"
          />
        </div>
        <div class="col-md-6">
          <label for="email" class="form-label fw-semibold">Email</label>
          <input
            formControlName="email"
            type="email"
            class="form-control"
            name="emailId"
            placeholder="Enter employee's email"
          />
        </div>
      </div>

      <!-- Password and Role Selection Fields -->
      <div class="row g-3 mb-3">
        <div class="col-md-6">
          <label for="Password" class="form-label fw-semibold">Password</label>
          <input
            formControlName="password"
            type="password"
            class="form-control"
            name="password"
            placeholder="Enter a secure password"
          />
        </div>
        <div class="col-md-6">
          <label for="role" class="form-label fw-semibold">Role</label>
          <select
            formControlName="role_id"
            class="form-select"
            aria-label="Select Role"
            name="role"
          >
            <option selected>--Select Role of the Employee--</option>
            <option *ngFor="let role of uniqueRoles" [value]="role.role.id">
              {{ role.role.name }}
            </option>
          </select>
        </div>
      </div>

      <!-- Submit and Close Buttons -->
      <div class="d-flex justify-content-between mt-3">
        <button type="submit" class="btn btn-primary shadow-sm">
          {{ myForm.value.id ? "Update Employee" : "Add employee" }}
          <span
            class="spinner-grow spinner-grow-sm me-2"
            *ngIf="loading"
          ></span>
        </button>

        <!-- Close Form Button -->
        <button
          type="button"
          class="btn btn-danger shadow-sm"
          (click)="close()"
        >
          <i class="bi bi-x-circle me-2"></i>Close
        </button>
      </div>
    </form>
  </section>

  <!-- Employee Data Table Section (Displayed when showForm is false) -->
  <div class="table-responsive" *ngIf="!showForm">
    <table
      class="table table-striped table-hover table-bordered rounded-3 shadow-sm overflow-hidden"
    >
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Nombre Colaborador</th>
          <th>Email</th>
          <th>Rol</th>
          <th>Sede</th>
          <th>Aciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Loading Spinner Row -->
        <tr *ngIf="loading">
          <td colspan="7" class="text-center">
            <div class="spinner-grow text-muted"></div>
            <div class="spinner-grow text-primary"></div>
            <div class="spinner-grow text-success"></div>
            <div class="spinner-grow text-info"></div>
            <div class="spinner-grow text-warning"></div>
            <div class="spinner-grow text-danger"></div>
          </td>
        </tr>

        <!-- Employees Data Rows -->
        <tr *ngFor="let user of employees">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role?.name }}</td>
          <td>{{ user.headquarter?.name }}</td>
          <td>
            <!-- Edit Employee Button -->
            <button
              type="button"
              class="btn btn-primary btn-sm rounded-pill"
              (click)="updateEmployees(user)"
            >
              Edit
            </button>
            <!-- Delete Employee Button -->
            <button
              type="button"
              class="btn btn-danger btn-sm rounded-pill mx-2"
              (click)="deleteEmployees(user.id)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
