<div class="tab-pane fade show active" id="projects" role="tabpanel">
  <div class="card rounded-3 shadow-sm">
    <div class="card-body">
      <h2 class="card-title">New Task</h2>
      <form class="mb-4">
        <!-- Primera fila -->
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="taskName" class="form-label">Task Name</label>
            <input
              type="text"
              class="form-control rounded-pill"
              formControlName="taskName"
              id="taskName"
              placeholder="Enter task name"
            />
          </div>
          <div class="col-md-6">
            <label for="taskDescription" class="form-label">Description</label>
            <input
              type="text"
              class="form-control rounded-pill"
              formControlName="taskDescription"
              id="taskDescription"
              placeholder="Enter Task Description"
            />
          </div>
        </div>
        <!-- Segunda fila -->
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="priority" class="form-label">Priority</label>
            <select
              class="form-select form-select-sm rounded-pill"
              aria-label="Small select example"
            >
              <option selected>--Select Priority--</option>
              <option value="1">Low</option>
              <option value="2">Mid</option>
              <option value="3">High</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="dueDate" class="form-label">Due Date</label>
            <input
              type="date"
              class="form-control rounded-pill"
              formControlName="dueDate"
              id="dueDate"
            />
          </div>
        </div>
        <!-- Tercera fila -->
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="headquarter" class="form-label">Headquarter</label>
            <select
              class="form-select form-select-sm rounded-pill"
              aria-label="Small select example"
            >
              <option selected>--Select Headquarter--</option>
              <option value="2">Piedecuesta</option>
              <option value="3">Floridablanca</option>
              <option value="4">Ciudadela</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="adviser" class="form-label">Adviser Assigned</label>
            <select
              class="form-select form-select-sm rounded-pill"
              aria-label="Small select example"
            >
              <option selected>--Select Adviser--</option>
              <option value="5">Asesor Piedecuesta Mañana</option>
              <option value="6">Asesor Piedecuesta Tarde</option>
              <option value="7">Asesor Floridablanca Mañana</option>
              <option value="8">Asesor Floridablanca Tarde</option>
              <option value="9">Asesor Ciudadela Mañana</option>
              <option value="10">Asesor Ciudadela Tarde</option>
            </select>
          </div>
        </div>
        <!-- Botones -->
        <div class="d-flex justify-content-end gap-3">
          <button type="button" class="btn btn-primary rounded-pill">Save Task</button>
          <button type="button" class="btn btn-warning rounded-pill">Update Task</button>
          <button type="button" routerLink="/task" class="btn btn-danger rounded-pill">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

