<div class="container mt-4">
  <div class="card shadow-sm rounded-3 bg-white">
    <div class="card-header bg-dark text-white">
      <h5 class="mb-0">Detalles de la Tarea</h5>
    </div>
    <div class="card-body">
      <h6 class="fw-bold">Título: {{userTask?.task!.title}} </h6>
      <p>Estado:
        <span class="badge bg-success rounded-pill">{{userTask?.status}}</span>

      </p>
      <p>Descripción: {{ userTask?.task?.description || 'Sin descripción' }}</p>
      <hr>

      <h6 class="fw-bold">Evidencia Fotográfica</h6>
      <div class="mb-3">
        <div class="mb-2 d-flex align-items-center">
          <a [href]="uploadedImage" target="_blank">{{uploadedImage}}</a>
          <button class="btn btn-danger btn-sm rounded-pill ms-3" (click)="deleteImage()">Eliminar</button>
        </div>

        <div *ngIf="uploadedImage" class="alert alert-success">
          Imagen subida correctamente. <a [href]="uploadedImage" target="_blank">Ver imagen</a>
        </div>
        <div *ngIf="!uploadedImage && selectedFile" class="alert alert-danger">
          No se ha subido ninguna imagen.
        </div>



      </div>
      <input (change)="onFileSelected($event)" type="file" class="form-control mb-3">

      <h6 class="fw-bold">Actualizar Estado</h6>
      <select [(ngModel)]="taskStatus" class="form-select mb-3 rounded-pill">
        <option value="uncompleted">Uncompleted</option>
        <option value="completed">Completed</option>
      </select>
      <button class="btn btn-success rounded-pill" (click)="saveChanges()">Guardar Cambios</button>
    </div>
  </div>
</div>
