<div class="container my-5">
  <!-- Header -->
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="dark">Dashboard - <span class="dark">{{ managerData?.headquarter_name }}</span></h1>
  </div>
  <!-- Row 1: Tarjetas de Resumen -->
  <div class="row mt-4">
    <!-- Tarjeta Total Tareas Realizadas -->
    <div class="col-md-6">
      <div class="card bg-blue text-white">
        <div class="card-body">
          <h5 class="card-title">Total Tareas Realizadas</h5>
          <h2 class="card-text">{{ managerData?.completed_tasks }}</h2>
        </div>
      </div>
    </div>
    <!-- Tarjeta Total Tareas Pendientes -->
    <div class="col-md-6">
      <div class="card bg-green text-white">
        <div class="card-body">
          <h5 class="card-title">Total Tareas Pendientes</h5>
          <h2 class="card-text">{{ managerData?.pending_tasks }}</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- Row 2: Tabla de Tareas Pendientes -->
  <div class="row mt-4">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Tareas Pendientes</h5>
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th>Responsable</th>
                <th>Tareas Pendientes</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of pendingUsersArray">
                <td>{{ user.user }}</td>
                <td>{{ user.task_title }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Gráfica de Rendimiento -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Rendimiento</h5>
            <canvas id="performanceChart" width="100" height="100"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
