<div class="container my-4">
  <div class="row">
    <!-- Total Employees Widget -->
    <div class="col-md-4">
      <div class="card text-white bg-primary mb-3">
        <div class="card-header">Tareas Ciudadela</div>
        <div class="card-body">
          <h5 class="card-title">Tareas</h5>
          <p class="card-text" id="totalEmployees">Total Tareas asignadas:
                                                   Total Tareas Completadas:
          </p>
        </div>
      </div>
    </div>

    <!-- Total Projects Widget -->
    <div class="col-md-4">
      <div class="card text-white bg-success mb-3">
        <div class="card-header">Tareas Floridablanca</div>
        <div class="card-body">
          <h5 class="card-title">Tareas</h5>
          <p class="card-text" id="totalProjects">Total Tareas asignadas:
                                                  Total Tareas Completadas:</p>
        </div>
      </div>
    </div>

    <!-- Active Employees in Projects -->
    <div class="col-md-4">
      <div class="card text-white bg-warning mb-3">
        <div class="card-header">Tareas Piedecuesta</div>
        <div class="card-body">
          <h5 class="card-title">Tareas</h5>
          <p class="card-text" id="totalProjects">Total Tareas asignadas:
            Total Tareas Completadas:</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Latest tasks -->
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-header">Latest Tasks</div>
        <div class="card-body">
          <ul id="latestProjects" class="list-group">
              <li class="mx-2">task</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-header">Recently Hired Employees</div>
        <div class="card-body">
          <ul id="recentEmployees" class="list-group">
              <li class="mx-2">adviser</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
