<div class="tab-pane fade show active" id="adviser" role="tabpanel">

  <!-- Encabezado -->
  <div class="row mb-3">
    <div class="col-6">
      <h2>Sedes</h2>
    </div>
    <div class="col-6 text-end">
      <button
        class="btn btn-success shadow-sm rounded-pill"
      >
        <i class="bi bi-person-plus-fill me-2"></i>Agregar Sede
      </button>
    </div>
  </div>
<!-- contenedor del formulario -->
  <section class="mb-4 p-4 shadow rounded border bg-light" >
    <form>
      <h4 class="text-center mb-4 fw-bold">Detalle Sede</h4>
      <div class="row g-3 mb-3">
        <div class="col-md-6">
          <label for="headquarterName" class="form-label fw-semibold"
            >Nombre de la Sede</label
          >
          <input
            formControlName="name"
            type="text"
            class="form-control"
            name="headquarterName"
            placeholder="Enter headquarter name"
          />
        </div>

        <div class="col-md-6">
          <label for="manager" class="form-label fw-semibold">Lider de Sede</label>
          <select
            formControlName="manager_id"
            class="form-select"
            aria-label="Select Manager"
            name="manager"
          >
            <option selected>--Selecciona el Lider de Sede--</option>
            <option>

            </option>
          </select>
        </div>
      </div>

      <div class="d-flex justify-content-between mt-3">
        <button type="submit" class="btn btn-primary shadow-sm">
          <span
            class="spinner-grow spinner-grow-sm me-2"
          ></span>
        </button>

        <button
          type="button"
          class="btn btn-danger shadow-sm"
        >
          <i class="bi bi-x-circle me-2"></i>Close
        </button>
      </div>
    </form>
  </section>

<!-- tabla de datos empleados -->
  <div class="table-responsive" >
    <table
      class="table table-striped table-hover table-bordered rounded-3 shadow-sm overflow-hidden"
    >
      <thead class="table-dark">
        <tr>
          <th>Id</th>
          <th>Headquarter Name</th>
          <th>Manager</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      <!-- animacion de carga -->
        <tr >
          <td colspan="7" class="text-center">
            <div class="spinner-grow text-muted"></div>
            <div class="spinner-grow text-primary"></div>
            <div class="spinner-grow text-success"></div>
            <div class="spinner-grow text-info"></div>
            <div class="spinner-grow text-warning"></div>
            <div class="spinner-grow text-danger"></div>
          </td>
        </tr>
    <!-- datos traidos -->
        <tr >
          <td></td>
          <td></td>
          <td></td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm rounded-pill"

            >
              Edit
            </button>
            <button
              type="button"
              class="btn btn-danger btn-sm rounded-pill mx-2"
            >
             Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

